*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c7cdd3;
}


.card{
    position: relative;
    width: 110px;
    height: 110px;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.card-back, .card-front{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card-front{
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card-back{
    background-color: #05c3ff;
    font-size: 30px;
    color: #101c2c;
}

.icon{
    width: 100px;
}

#newGame{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 45px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
}

#newGameBtn{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 45px;
    
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
}

#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}

#backMenu{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}

#gameBoard{
    max-width: 900px;

    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}